.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(230, 253, 255, 0.73);
  position: absolute;
  width: 500px;
  height: 300px;
  top: 35%;
  left: 40%;
  align-self: center;
  border-radius: 10px;
  align-items: center;
  font-size: large;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  gap: 5px;
}

.city-search{
  padding: 10px;
}

body{
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-size: cover
}

html{
  margin:0;
  height:100%;
}